<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<h2>Change Password</h2>
<form action="/changePassword" method="post">
    <% if(messages.error){ %>
        <span style="color:red">
            <%= messages.error %>
        </span>

    <% } %>

    <div>
        <label for="email">Email</label>
        <input type="email" value="<%= email %>" disabled="true">
        <input type="hidden" name="email" id="email" value="<%= email %>">
        <input type="hidden" name="resetToken" id="resetToken" value="<%= token %>">
    </div>
    <div>
        <label for="email">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <label for="email">Confirm Password</label>
        <input type="password" name="c_password" id="c_password">
    </div>    
    <span id='message'></span>
    <div>
        <input type="submit" id="submitB" value="Process">
        <a href="/login">Login</a>
    </div>
</form>
<script>
$('#password, #c_password').on('keyup', function () {
  if ($('#password').val() == $('#c_password').val()) {
    $('#message').html('Password Matching').css('color', 'green');
    // $('#submitB').prop("disabled", false);
} else 
    $('#message').html('Passwprd Not Matching').css('color', 'red');
    // $('#submitB').prop("disabled", true); 
});
</script>