<h2>Email Confirmation</h2>
<form action="/email" method="post">
    <% if(messages.error){ %>
        <span style="color:red">
            <%= messages.error %>
        </span>

    <% } %>

    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
    </div>
    <div>
        <input type="submit" value="Process">
        <a href="/login">Login</a>
    </div>
</form>